div#header-widget-area {
    width: 100%;
    background-color: #f7f7f7;
    border-bottom:1px solid #eeeeee;
    text-align: center;
}   
h2.chw-title {
    margin-top: 0px;
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    background-color: #feffce;
    width: 130px;
    padding: 5px;
}
.quabads-header-widget{
    max-width:100%; 
    text-align:center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.quabads-headerwidget .quabads-slot{
    max-width: 100%;
    padding:0;
    text-align: center;
}
.quabads-headerwidget .quabads-slot a{
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 0;
    text-align: center;
}
.quabads-headerwidget .quabads-slot a img{
    display: block;
    width: auto;
}